$bg-color: #1d1333;
$primary-color: #ced0e2;
$light-gray: #dedede;
$dark-gray: #252525;

$dark-red: #a00026;

// FONTS
$font-light: $light-gray;
$font-dark: $dark-gray;

// GENERAL 
$border-radius: 16px;