$border-width: 0px;

.container {
  background: url("./../../assets/asanoha-400px.png") repeat;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    background: linear-gradient(
      226.82deg,
      rgba(255, 0, 0, 0.27) -18.54%,
      rgba(0, 0, 0, 0.97) 41.11%
    );

    @include respond(tab-land) {
      background: linear-gradient(
        180.82deg,
        rgba(255, 0, 0, 0.37) -1.54%,
        rgba(0, 0, 0, 0.97) 49.91%
      );
    }
  }
}

[class*="-section"] {
  position: relative;
  border: $border-width solid red;
  max-width: 114rem;
  margin: 0 auto;
}

.hero-section {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  align-items: center;
  overflow: auto;

  @include respond(tab-land) {
    padding: 3rem;
    grid-template-columns: 1fr;
  }

  @include respond(phone) {
    align-items: flex-start;
  }

  .hero {
    border: $border-width solid yellow;
    position: relative;
    height: 60rem;
    left: 0;
    padding: 0 5rem;

    @include respond(phone) {
      width: 100%;
      padding: 0;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
    }

    &__title {
      position: relative;
      
      .dot-pattern {
        width: 15rem;
        position: absolute;
        z-index: -1;
        top: -1rem;
        left: -4rem;
        padding: 1rem;

        @include respond(phone) {
          visibility: hidden;
        }
      }
    }

    &__subtitle {
      position: relative;
      margin-top: 4rem;

      &::before {
        content: "";
        width: 0.1rem;
        height: 100%;
      }

      .paragraph:not(:first-child) {
        margin-top: 1.5rem;
      }
    }

    &__buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin-top: 6rem;

      @include respond(phone) {
        justify-content: center;
      }

      & > .button:not(:first-child) {
        margin-left: 4rem;
      }
    }
  }

  .browser-animation {
    @include respond(tab-land) {
      display: none;
    }

    overflow-x: hidden;
    position: relative;
    border: $border-width solid yellow;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &__container {
      min-width: 60rem;
      position: relative;
      backface-visibility: hidden;
      border: $border-width solid blue;
      -moz-transform: rotate(15deg) skew(-20deg, 0deg);
      -webkit-transform: rotate(15deg) skew(-20deg, 0deg);
      -o-transform: rotate(15deg) skew(-20deg, 0deg);
      -ms-transform: rotate(15deg) skew(-20deg, 0deg);
      transform: rotate(15deg) skew(-20deg, 0deg);
    }

    &__browser {
      width: 30rem;
      height: 20rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 16px;

      &--vector {
        width: 100%;
        height: 100%;
      }

      // TODO add echo
      &--echo {
        width: 100%;
        height: 100%;
        position: relative;
        top: -1rem;
      }
    }

    &__cog-group {
      width: fit-content;
      height: 15rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      

      &:hover {
        .browser-animation__cog-group--big-cog {
            transform: rotate(-360deg);
        }

        .browser-animation__cog-group--small-cog {
            transform: rotate(360deg);
        }
      }

      &--big-cog {
        height: 10rem;
      }

      &--small-cog {
        height: 6rem;
        position: relative;
        top: 1.5rem;
        left: -1.1rem;
      }

      &--big-cog, &--small-cog {
        transition: all 2s;
      }
    }
  }
}

@keyframes cogRotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes cogRotationReverse {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
